body, html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.demos-title {
  text-align: center;
  font-size: 34px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

.demos-sub-title {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.demos-header {
  padding: 35px 0;
}

.demos-content-padded {
  padding: 15px;
}

.demos-second-title {
  text-align: center;
  font-size: 24px;
  color: #3cc51f;
  font-weight: 400;
  margin: 0 15%;
}

footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}

.font-text{
  color: #1B1B1B;
  font-size: 0.7rem;
  line-height: 1.3rem;
  font-weight: 400;
  padding: 0.3rem 0 0.3rem 0;
  }
  
  .header-text{
    background: #ffffffc7;
    box-shadow: 0px 0px 10px 0px rgb(161 152 146 / 36%);
    border-radius: 10px;
    margin: 0.2rem 1.5rem 0.2rem 1.5rem;
    padding: 0.5rem 0.4rem 0.5rem 0.4rem;
  }
  
 
